company page
{{id1}}<br>
<div><h1>{{com_data.1}} share price {{price}} <h1></div>|
<div><h2>share price {{price}} <h2></div>|
{{com_data.0}} |
{{com_data.7}}<br>
Security Id: {{com_data.2}}<br>
Security Name: {{com_data.3}}<br>
Status: {{com_data.4}}<br>
Group: {{com_data.5}}<br>
Face Value:  {{com_data.6}}<br>
Industry: {{com_data.8}}<br>
Instrument:{{com_data.9}}<br>
{{com_data.10}}\
{{com_data.11}}\
{{com_data.12}}\
{{com_data.13}}<br>
Sector Name\Industry\ New Name\Igroup Name\ISubgroup Name  <br>
{{link}}<br>

{% for n in t2 %}
<h3>{{n.0}}: {{n.1}} </h3>
<h7>{{n.2}}</h7><br><br><br>
{% endfor %}

{% for n in t1 %}
<h3>{{n.0}}:{{n.1}} </h3>
<h7>{{n.2}}</h7><br><br><br>
{% endfor %}




<!--['500400', 'Tata Power Co. Ltd', 'TATAPOWER', 'TATA POWER CO.LTD.', 'Active', 'A ', '1', 'INE245A01021', 
'Integrated Power Utilities', 'Equity', 'Utilities', 'Power', 'Power', 'Integrated Power Utilities']
[0,'Security Code', 1,'Issuer Name', 2,'Security Id', 3'Security Name', 4'Status', 5'Group', 6'Face Value', 7'ISIN No', 
8'Industry', 9'Instrument', 10'Sector Name', 11'Industry New Name', 12'Igroup Name', 13'ISubgroup Name']-->


<!--
wwwwwww<br>
"{{revenue}}":revenue,<br>
"operating_expense":{{operating_expense}},<br>
"net_income":{{net_income}},<br>
"net_profit_margin":{{net_profit_margin}},<br>
"earnings_per_share":{{earnings_per_share}},<br>
"EBITDA":{{EBITDA}},<br>
"cash_and_short_term_investments":{{cash_and_short_term_investments}},<br>
"total_assets":{{total_assets}},<br>
Total liabilities{{revenue2}}<br>
Total equity{{revenue3}}<br><br>
Shares outstanding{{revenue4}}<br>
Price to book{{revenue5}}<br><br>
Return on assets{{revenue6}}<br>
Return on capital{{revenue7}}<br>
{{revenue8}}<br>
Net income{{revenue9}}<br>
Cash from operations{{revenue10}}<br>
Cash from investing{{revenue11}}<br>
Cash from financing{{revenue12}}<br>
Net change in cash{{revenue13}}<br>
Free cash flow{{revenue14}}<br>
-->

