
<div class="row">
    <div class="col-12">
        <form method="post">
            {% csrf_token %}
            <div> <input type="text" name="peratio"  /></div>
            <div> <button type="submit"> filter1</button> </div>
        </form>
    </div>
</div>
{{price}}
{{soup}}
{{cl2}}<br>
{{table.0 |safe}}<br>
{{table.1 |safe}}<br>
{{table.3 |safe}}<br>
index
0{{tr.0}}<br> 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
revenue
1{{tr.1}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
expenses
2{{tr.2}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

3{{tr.3}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
4{{tr.4}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
5{{tr.5}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
6{{tr.6}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
7{{tr.7}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
8{{tr.8}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
9{{tr.9}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
10{{tr.10}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
11{{tr.11}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
12{{tr.12}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
13{{tr.13}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
14{{tr.14}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
15{{tr.15}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
16{{tr.16}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
17{{tr.17}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
18{{tr.18}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
19{{tr.19}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
20{{tr.20}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
21{{tr.21}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
22{{tr.22}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
23{{tr.23}}<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

