<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player List</title>
</head>
<body>
    <h3>{{player.player_name}}'s Heighers eSports Profile </h3>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>IGN</th>
                <th>Team Name</th>
                <th>Total Tournament Score</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>{{player.player_name}}</td>
                    <td>{{ player.ign }}</td>
                    <td><a href="/ffhe/team/{{player.team.id}}/">{{ player.team.name }}</a></td>
                    <td>{{ player.total_tournament_score }}</td>
                </tr>
            
                <!--<tr>
                    <td colspan="8">No players found.</td>
                </tr>-->
            
        </tbody>
    </table>
    {{player}}
</body>
</html>